<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carta</title>
    <link rel="stylesheet" href="/Styles/ideia.css">
</head>

<body>

    <div>
        <img id="logo" src="/Images/Logos/logo.svg" alt="">
    </div>

    <div id="card">
        <img id="card_" src="/Images/Cartas/carta.svg" alt="">
        <img id="card_" src="/Images/Cartas/carta.svg" alt="">
        <img id="card_" src="/Images/Cartas/carta.svg" alt="">
    </div>

</body>

</html>