<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Filho da Pata">
    <meta name="author" content="Jonathan Americo Soares">
    <meta name="language" content="PT">
    <meta name="url" content="">
    <title>Index</title>
    <link rel="stylesheet" href="../Styles/index.css">
</head>
<body>
<!-- ----------------------------------------------------------------------------------------------------- -->
    <div class="page">
        <header>
            <div class="head">
                <img id="logo" src="../Images/Logos/logo.svg" alt="">
                <a class="li_c" href="" style="margin-right: 30px ;">Sobre Nós</a>
                <a class="li_c" href="">Como Jogar</a>
            </div>
        </header>
<!-- ----------------------------------------------------------------------------------------------------- -->
        <h1>Eae, Pronto pra zuar com o pessoal?</h1>
            <div>
                <button>Criar sala</button>
                <button>Entrar</button>
                <img src="../Images/Cartas/carta.svg" alt="">
                <img src="../Images/Cartas/carta.svg" alt="">
                <img src="../Images/Cartas/carta.svg" alt="">
            </div>
<!-- ----------------------------------------------------------------------------------------------------- -->
        <div>
            <h1>Como Jogar:</h1>
            <h2>Dentro da sala, na sua vez <br> vc pega uma carta...</h2>
            <img src="../Images/Cartas/carta.svg" alt="">
            <img src="../Images/Cartas/carta.svg" alt="">
        </div>
<!-- ----------------------------------------------------------------------------------------------------- -->
        <div>
            <h2>Todos escolhem o amigo que <br> combina com carta...</h2>
            <img src="../Images/Cartas/carta.svg" alt="">
            <img src="../Images/seta.svg" alt="">
            <img src="../Images/personagem_0.svg" alt="">
            <h2>O mais votado fica com a carta, <br> e quem juntar 5 cartas...</h2>
        </div>
<!-- ----------------------------------------------------------------------------------------------------- -->
        <div>
            <img src="../Images/personagem_1.svg" alt="">
            <img src="../Images/Cartas/carta.svg" alt="">
            <img src="../Images/Cartas/carta.svg" alt="">
            <img src="../Images/Cartas/carta.svg" alt="">
            <img src="../Images/Cartas/carta.svg" alt="">
            <img src="../Images/Cartas/carta.svg" alt="">
            <img src="../Images/Logos/logo.svg" alt="">
        </div>
<!-- ----------------------------------------------------------------------------------------------------- -->
        <div>
            <h2>agora que vc aprendeu, <br>bora Jogar</h2>
            <button>Criar Sala</button>
        </div>
<!-- ----------------------------------------------------------------------------------------------------- -->
        <div>
            <h2>sobre nós</h2>
            <footer> <div>
                <img src="../Images/Devs/Julio_user.svg" alt="">
                <h2>Julio <br> Jn5</h2>
                <img src="../Images/Devs/Mateus_user.svg" alt="">
                <h2>Mateus <br> Luck</h2>
                <img src="../Images/Devs/Jonathan_user.svg" alt="">
                <h2>Jonathan <br>Bruxo</h2>
                <img src="../Images/Logos/Alpha_corporation.svg" alt="">
                <h2>Alpha </h2>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>